<div 
  class="relative <%= playable ? 'cursor-pointer' : '' %> w-14 h-20 md:w-20 md:h-28 bg-white rounded-lg border border-gray-200 shadow-lg"
  data-controller="card"
  data-action="click->card#showColumnSelector"
>
  <div class="w-full h-full flex flex-col items-start p-1 px-2 md:p-2">
    <div class="text-<%= card[:suit].in?(['♥', '♦']) ? 'red' : 'black' %>-600 text-lg md:text-xl">
      <%= card[:value] %><%= card[:suit] %>
    </div>
  </div>
  <% if playable %>
    <div class="column-selector hidden" data-card-target="columnSelector">
      <div class="flex flex-row h-full">
        <% 4.times do |i| %>
          <%= form_with(
                url: play_card_game_path(game), 
                method: :post, 
                class: "h-full", 
                data: { 
                  turbo: true
                }
              ) do |f| %>
            <% player_card = card.merge(column: i, player_id: current_user.id) %>
            <%= f.hidden_field :card, value: player_card.to_json %>
            <%= f.button "#{i + 1}", type: "submit", class: "w-full p-1 bg-blue-500 bg-opacity-50 hover:bg-opacity-75 text-white" %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>