<div class="relative <%= playable ? 'cursor-pointer' : '' %> w-16 h-24 bg-white rounded-lg border border-gray-200 shadow-sm transform hover:-translate-y-1 transition-transform">
  <% if playable %>
    <%= form_with(url: play_card_game_path(game), 
                 method: :post, 
                 class: "absolute inset-0",
                 data: { turbo_stream: true }) do |f| %>
      <%= f.hidden_field :card, value: card.to_json %>
      <%= f.submit "Play Card", 
                  class: "w-full h-full opacity-0 cursor-pointer",
                  data: { 
                    card_value: card[:value],
                    card_suit: card[:suit]
                  } %>
    <% end %>
  <% end %>

  <div class="w-full h-full flex flex-col items-center justify-between p-2">
    <div class="text-<%= card[:suit].in?(['♥', '♦']) ? 'red' : 'black' %>-600 text-sm">
      <%= card[:value] %>
    </div>
    
    <div class="text-<%= card[:suit].in?(['♥', '♦']) ? 'red' : 'black' %>-600 text-2xl">
      <%= card[:suit] %>
    </div>
    
    <div class="text-<%= card[:suit].in?(['♥', '♦']) ? 'red' : 'black' %>-600 text-sm transform rotate-180">
      <%= card[:value] %>
    </div>
  </div>
</div> 