<%= link_to game_path(game), id: dom_id(game), class: "block bg-slate-700 text-white py-4 px-4 rounded-lg shadow-lg" do %>
  <% opponent = if current_user == game.player1
                  game.player2.email.titleize
                else
                  game.player1.email.titleize
                end %>
  <div class="flex justify-between items-center text-sm">
    <div>
      <div class="flex flex-row items-center mb-1">
        <span class="inline-block mr-2 px-2 py-1 font-semibold <%= game.bot? ? 'bg-slate-500/50 text-slate-300' : 'hidden bg-slate-100 text-slate-600' %> rounded">
            <%= game.game_type.upcase %>
        </span>
        <span class="inline-block font-medium">VS <%= opponent %></span>
      </div>
      <div class="text-gray-500 dark:text-slate-400 text-xs"><%= time_ago_in_words(game.created_at).capitalize %> ago</div>
    </div>

    <div class="flex gap-4 items-center">
      <% if defined?(new_game) && new_game %>
        <div class="p-2 py-1 inline-flex gap-1.5 items-center bg-amber-500/20 text-white border border-amber-500 font-medium mr-2 rounded-md">
          <i class="fa fa-circle text-[0.5rem] text-amber-500 animate-pulse"></i>
          Live
        </div>
      <% end %>
      <%= content_tag :div, class: "text-gray-400 hover:text-gray-500 relative right-2 dark:text-slate-400" do %>
        <i class="fa fa-chevron-right text-lg"></i>
      <% end %>
    </div>
  </div>
<% end %>
