<%= turbo_stream_from "games" %>

<div class="max-w-7xl mx-auto px-4 py-6 pb-20">
  <div class="flex flex-row justify-between mb-5">
    <h1 class="text-3xl font-bold text-white dark:text-white">Lobby</h1>
    <%= button_to "Sign Out", destroy_user_session_path, 
        method: :delete,
        class: "px-4 py-2 text-sm text-white rounded-lg border dark:border-slate-500/50" %>
  </div>

  <!-- Start New Game -->
  <div class="mb-4 text-center border border-slate-500 bg-gradient-to-br from-slate-700/30 from-0% via-slate-400/40 via-40% to-slate-600/30 to-100% dark:text-white py-8 rounded-2xl shadow-xl">
    <h2 class="text-xl font-semibold mb-3">Start a New Game</h2>
    <div class="flex justify-center gap-4">
      <%= link_to "Play vs Bot",
                  new_game_path(type: :bot), 
                  class: "px-4 py-2 text-slate-900 rounded-lg shadow-[0_12px_11px_-3px_rgba(0,0,0,.2),0_4px_6px_-4px_rgba(0,0,0,.1)] border-2 border-amber-400 bg-gradient-to-br from-amber-500 via-amber-400 via-30% to-amber-600 hover:bg-amber-400" %>
      <%#= link_to "Play vs Player", 
                  new_game_path(type: :pvp), 
                  class: "px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700" %>
    </div>
  </div>

  <!-- Leaderboard -->
  <h1 class="text-xl font-medium mb-4 dark:text-white">Leaderboard</h1>
  <div class="grid gap-4 mb-6">
    <div class="text-sm flex flex-col gap-2 justify-between dark:text-white">
      <% @leaderboard.each_with_index do |user, index| %>
        <!-- User row -->
        <div class="flex flex-row justify-between items-center p-3 bg-slate-700 rounded-lg shadow-xl">
          <!-- Left column -->
          <div class="flex flex-row gap-1 items-center">
            <div class="inline-block w-2 mr-1 text-slate-400 text-center"><%= index + 1 %></div>
            <div class="mr-1 w-6 h-6 rounded-full bg-gradient-to-b shadow-lg <%= ['from-red-500 to-red-600', 'from-blue-500 to-blue-600', 'from-green-500 to-green-600', 'from-purple-500 to-purple-600', 'from-amber-500 to-amber-600', 'from-pink-500 to-pink-600', 'from-indigo-500 to-indigo-600'][index % 7] %> text-white flex items-center justify-center"><%= user.email.first.upcase %></div>
            <div class="font-medium"><%= user.email.capitalize %></div>
          </div>
          <!-- Right column -->
          <div class="hidden"><%= user.wins %></div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Recent Games -->
  <h1 class="text-xl font-semibold <%= @games.any? ? 'mb-4' : 'mb-2' %> dark:text-white">My Recent Games</h1>
  <% if @games.any? %>
    <div id="games_list" class="grid gap-4">
      <% @games.each do |game| %>
        <%= render "games/game", game: game %>
      <% end %>
    </div>
  <% else %>
    <div class="text-slate-500">You haven't played yet.</div>
  <% end %>
</div>