<div id="game-container" data-game-id="<%= @game.id %>" class="mx-auto py-6">
  <%= turbo_stream_from "game_#{@game.id}_player_#{current_user.id}" %>

  <div id="game_error" class="hidden text-white/50 text-center mb-4"></div>

  <div id="game_status" class="">
    <%= render "game_status", game: @game, current_user: current_user %>
  </div>

  <div id="game_state" class="mb-8">
    <%= render "game_state", game: @game, current_user: current_user %>
  </div>

<!--  <div id="player_controls" class="mb-2">
    <%#= render partial: "player_controls", locals: { game: @game, current_user: current_user } %>
  </div>
-->

  <div class="w-full px-6">
    <%= link_to "Back to Home", games_path, class: "block text-center border border-white/50 rounded-lg mb-10 px-4 py-2 text-sm text-gray-500 hover:text-gray-700 dark:text-white dark:hover:text-white/70" %>
  </div>
</div>