<div id="<%= dom_id deal %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= deal.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= deal.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= deal.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Organization:</strong>
    <%= deal.organization_id %>
  </p>

</div>
