<nav data-controller="navbar" class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between md:order-1 max-w-screen-xl mx-auto p-4">
        <%= link_to dashboard_path, class: "mr-16 flex items-center space-x-3 rtl:space-x-reverse" do %>
            <h3 class="text-3xl font-semibold">MPC</h3>
        <% end %>
        <div class="md:hidden flex items-center md:order-4 space-x-1 md:space-x-2 rtl:space-x-reverse">
            <button data-collapse-toggle="mega-menu" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mega-menu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
        </div>

        <div id="mega-menu" class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
            <ul class="flex flex-col mt-4 font-medium md:flex-row md:mt-0 md:space-x-8 rtl:space-x-reverse">
                <li>
                    <%= link_to "Home", dashboard_path, class: "#{current_page?(dashboard_path) ? 'border-primary-500' : 'border-transparent'} block py-2 px-3 hover:bg-gray-50 md:hover:bg-transparent md:hover:text-primary-600 md:p-0 md:py-2 dark:text-primary-500 md:dark:hover:text-primary-500 dark:hover:bg-gray-700 dark:hover:text-primary-500 md:dark:hover:bg-transparent dark:border-gray-700 border-b-2", aria: { current: "page" } %>
                </li>
                <li>
                    <%= link_to products_path, id: "mega-menu-dropdown-button", data: { navbar_target: "navItem", action: "mouseenter->navbar#openMenu mouseleave->navbar#closeMenu" }, class: "#{request.fullpath.start_with?('/products') ? 'border-primary-500' : 'border-transparent'} flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:hover:text-primary-600 md:p-1 md:py-2 dark:text-white md:dark:hover:text-primary-500 dark:hover:bg-gray-700 dark:hover:text-primary-500 md:dark:hover:bg-transparent dark:border-gray-700 border-b-2" do %>
                        Products <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg>
                    <% end %>
                    <div data-navbar-target="menu" data-action="mouseenter->navbar#openMenu mouseleave->navbar#closeMenu" id="mega-menu-dropdown" class="opacity-0 pointer-events-none transition-opacity duration-300 absolute z-10 grid w-auto grid-cols-2 text-sm bg-white border border-gray-100 rounded-lg shadow-md dark:border-gray-700 md:grid-cols-3 dark:bg-gray-700">
                        <div class="p-4 pb-0 text-gray-900 md:pb-4 dark:text-white">
                            <ul class="space-y-4" aria-labelledby="mega-menu-dropdown-button">
                                <li>
                                    <%= link_to "About Us", "#", class: "text-gray-500 dark:text-gray-400 hover:text-primary-600 dark:hover:text-primary-500" %>
                                </li>
                                <li>
                                    <%= link_to "Library", "#", class: "text-gray-500 dark:text-gray-400 hover:text-primary-600 dark:hover:text-primary-500" %>
                                </li>
                                <li>
                                    <%= link_to "Resources", "#", class: "text-gray-500 dark:text-gray-400 hover:text-primary-600 dark:hover:text-primary-500" %>
                                </li>
                                <li>
                                    <%= link_to "Pro Version", "#", class: "text-gray-500 dark:text-gray-400 hover:text-primary-600 dark:hover:text-primary-500" %>
                                </li>
                            </ul>
                        </div>
                        <div class="p-4 pb-0 text-gray-900 md:pb-4 dark:text-white">
                            <ul class="space-y-4">
                                <li>
                                    <%= link_to "Blog", "#", class: "text-gray-500 dark:text-gray-400 hover:text-primary-600 dark:hover:text-primary-500" %>
                                </li>
                                <li>
                                    <%= link_to "Newsletter", "#", class: "text-gray-500 dark:text-gray-400 hover:text-primary-600 dark:hover:text-primary-500" %>
                                </li>
                                <li>
                                    <%= link_to "Playground", "#", class: "text-gray-500 dark:text-gray-400 hover:text-primary-600 dark:hover:text-primary-500" %>
                                </li>
                                <li>
                                    <%= link_to "License", "#", class: "text-gray-500 dark:text-gray-400 hover:text-primary-600 dark:hover:text-primary-500" %>
                                </li>
                            </ul>
                        </div>
                        <div class="p-4">
                            <ul class="space-y-4">
                                <li>
                                    <%= link_to "Contact Us", "#", class: "text-gray-500 dark:text-gray-400 hover:text-primary-600 dark:hover:text-primary-500" %>
                                </li>
                                <li>
                                    <%= link_to "Support Center", "#", class: "text-gray-500 dark:text-gray-400 hover:text-primary-600 dark:hover:text-primary-500" %>
                                </li>
                                <li>
                                    <%= link_to "Terms", "#", class: "text-gray-500 dark:text-gray-400 hover:text-primary-600 dark:hover:text-primary-500" %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <%= link_to "Team", "#", class: "block py-2 px-3 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-primary-600 md:p-0 md:py-2 dark:text-white md:dark:hover:text-primary-500 dark:hover:bg-gray-700 dark:hover:text-primary-500 md:dark:hover:bg-transparent dark:border-gray-700" %>
                </li>
                <li>
                    <%= link_to "Contact", "#", class: "block py-2 px-3 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-primary-600 md:p-0 md:py-2 dark:text-white md:dark:hover:text-primary-500 dark:hover:bg-gray-700 dark:hover:text-primary-500 md:dark:hover:bg-transparent dark:border-gray-700" %>
                </li>
            </ul>
        </div>

        <div class="flex items-center mt-4 lg:mt-0 md:order-2">
            <button class="hidden mx-4 text-gray-600 transition-colors duration-300 transform lg:block dark:text-gray-200 hover:text-gray-700 dark:hover:text-gray-400 focus:text-gray-700 dark:focus:text-gray-400 focus:outline-none" aria-label="show notifications">
                <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 17H20L18.5951 15.5951C18.2141 15.2141 18 14.6973 18 14.1585V11C18 8.38757 16.3304 6.16509 14 5.34142V5C14 3.89543 13.1046 3 12 3C10.8954 3 10 3.89543 10 5V5.34142C7.66962 6.16509 6 8.38757 6 11V14.1585C6 14.6973 5.78595 15.2141 5.40493 15.5951L4 17H9M15 17V18C15 19.6569 13.6569 21 12 21C10.3431 21 9 19.6569 9 18V17M15 17H9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>


            <button data-turbo-permanent id="dropdownUserAvatarButton" data-dropdown-toggle="dropdownAvatar" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" type="button">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-3.jpg" alt="user photo">
            </button>

            <!-- Dropdown menu -->
            <div id="dropdownAvatar" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                <div>Bonnie Green</div>
                <div class="font-medium truncate">name@flowbite.com</div>
                </div>
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownUserAvatarButton">
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                </li>
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                </li>
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                </li>
                </ul>
                <div class="py-2">
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
                </div>
            </div>

        </div>
    </div>
</nav>