<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Fives" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#15803d">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon<%= ENV.fetch("RAILS_ENV") == "development" ? "-dev" : "" %>.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-green-700 overflow-y-scroll">
    <main class="min-h-24">
      <%= yield %>
    </main>
  </body>
</html>
