<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "FIVES" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#1e293b">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: "module" %>
  </head>

  <body class="bg-gradient-to-b from-slate-800 to-slate-950 bg-slate-950 h-full min-h-screen">

    <main class="sm:mx-auto sm:w-[27.5rem] min-h-24">
      <%= render 'shared/flash' %>
      <section class="">
        <h1 class="
          hidden sm:block
          w-full mb-4 sm:mx-auto uppercase leading-9 tracking-tighter text-5xl font-bold
          pt-12 pl-6 pr-6 text-slate-800/50 bg-clip-text bg-gradient-to-br from-slate-600/30 to-slate-300
        ">A poker-based game called <span class="inline-block text-transparent bg-clip-text bg-gradient-to-br from-slate-700/30 to-70% to-white">Fiives</span></h1>
        <h1 class="
          sm:hidden
          w-full mb-2 uppercase leading-9 tracking-tighter text-5xl font-bold
          pt-24 pl-6 pr-6 text-slate-800/50 bg-clip-text bg-gradient-to-br from-slate-600/30 to-slate-300
        ">A poker-based game called <br/><span class="inline-block text-transparent bg-clip-text bg-gradient-to-br from-slate-700/30 to-70% to-white">Fiives</span></h1>
        <div class="flex flex-col items-center justify-center p-6 pt-3 mx-auto lg:py-0">
            <%= yield %>
        </div>
      </section>
      <footer class="px-6">
        <div class="mb-6 mt-4 pt-6 border-t border-slate-700 text-center text-slate-500 text-sm">
          <p class="mt-1 mb-4 mx-6 text-white text-lg leading-5">
            <a href="https://playfiives.com" class="text-white hover:text-slate-400">playfiives.com</a>
          </p>
          <%= ENV['CREDITS_ACKNOWLEDGEMENTS'] || 'Created by Derek Johnson, Gabe Meacham, William Lee, and Jay Akins.' %>
        </div>
      </footer>
    </main>

  </body>
</html>
