<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "FIVES" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#057A55">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-green-600">

    <main class="min-h-24">
      <%= render 'shared/flash' %>
      <section class="">
        <h1 class="w-5/6 uppercase text-white text-5xl font-bold px-6 pt-24 pb-4 text-white/50">Mother fucking <span class="text-white">Fives</span></h1>
        <div class="flex flex-col items-center justify-center p-6 mx-auto lg:py-0">
            <%= yield %>
        </div>
      </section>
    </main>


    <footer data-turbo-permanent class="hidden dark bg-white antialiased dark:bg-neutral-900">
      <div class="mx-auto max-w-screen-xl px-4 py-7 md:py-12 md:pb-20">
        <!-- Logo and footer links, along with copyright information -->

        <div>
          <div class="gap-6 md:gap-8 lg:flex 2xl:gap-24">
            <div class="grid min-w-0 flex-1 gap-6 justify-center text-center">
              <div class="mt-[-4px]">
                <%= link_to dashboard_path, class: "mb-2 block" do %>
                    <h3 class="relative left-2 text-xl font-light text-gray-400 dark:text-white tracking-[1rem]">FIVES</h3>
                <% end %>

                <p class="text-sm text-neutral-400 dark:text-neutral-400">© 2024 <a href="#" class="hover:underline">Some Co.</a></p>
              </div>
            </div>
          </div>
        </div>


      </div>
    </footer>
  </body>
</html>
