<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "FIVES" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#1e293b">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: "module" %>
  </head>

  <body class="bg-gradient-to-b from-slate-800 to-slate-950 bg-slate-950 h-full min-h-screen">

    <main class="min-h-24">
      <%= render 'shared/flash' %>
      <section>
        <h1 class="
          w-full md:w-80 md:mx-auto md:mb-4 md:text-center uppercase leading-9 tracking-tighter text-5xl font-bold
          pt-24 pl-6 pr-6 text-slate-800/50 bg-clip-text bg-gradient-to-br from-slate-600/30 to-slate-300
        ">A poker-based game called <br/><span class="inline-block text-transparent bg-clip-text bg-gradient-to-br from-slate-700/30 to-70% to-white">Fiives</span></h1>
        <p class="pt-2 mt-4 mb-6 mx-6 border-t border-slate-700 md:text-center text-slate-500 text-lg leading-5">
          <a href="https://playfiives.com" class="text-slate-500 hover:text-slate-400">playfiives.com</a>
        </p>
        <div class="flex flex-col items-center justify-center p-6 mx-auto lg:py-0">
            <%= yield %>
        </div>
      </section>
    </main>

  </body>
</html>
